{% extends 'list.html.twig' %}

{% block list %}
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Code</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Numero</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnel in personnels %}
            <tr>
                <td><a href="{{ path('personnel_show', { 'id': personnel.id }) }}">{{ personnel.id }}</a></td>
                <td>{{ personnel.nom }}</td>
                <td>{{ personnel.code }}</td>
                <td>{{ personnel.prenom }}</td>
                <td>{{ personnel.adresse }}</td>
                <td>{{ personnel.numero }}</td>
                <td>{% if personnel.date %}{{ personnel.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personnel_show', { 'id': personnel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personnel_edit', { 'id': personnel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
   
{% endblock %}
