{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personnels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Codeperso</th>
                <th>Nomperso</th>
                <th>Prenomperso</th>
                <th>Adresseperso</th>
                <th>Villeperso</th>
                <th>Telperso</th>
                <th>Dateperso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnel in personnels %}
            <tr>
                <td><a href="{{ path('personnel_show', { 'id': personnel.id }) }}">{{ personnel.id }}</a></td>
                <td>{{ personnel.codePerso }}</td>
                <td>{{ personnel.nomPerso }}</td>
                <td>{{ personnel.prenomPerso }}</td>
                <td>{{ personnel.adressePerso }}</td>
                <td>{{ personnel.villePerso }}</td>
                <td>{{ personnel.telPerso }}</td>
                <td>{% if personnel.datePerso %}{{ personnel.datePerso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personnel_show', { 'id': personnel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personnel_edit', { 'id': personnel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personnel_new') }}">Create a new personnel</a>
        </li>
    </ul>
{% endblock %}
