{% extends 'shower.html.twig' %}

{% block form %}
   
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personnel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personnel.nom }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ personnel.code }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ personnel.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ personnel.adresse }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ personnel.numero }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if personnel.date %}{{ personnel.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personnel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('personnel_edit', { 'id': personnel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
