{% extends 'list.html.twig' %}

{% block list %}
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{{ path('ticket_show', { 'id': ticket.id }) }}">{{ ticket.id }}</a></td>
                <td>{{ ticket.code }}</td>
                <td>{{ ticket.montant }}</td>
                <td>{% if ticket.date %}{{ ticket.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ticket_show', { 'id': ticket.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{  class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#full-width-modal" path('ticket_edit', { 'id': ticket.id }) }}" >edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
