{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reglements list</h1>
 <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">liste des reglements</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Date</th>
                <th>Type de paiement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reglement in reglements %}
            <tr>
                <td><a href="{{ path('reglement_show', { 'id': reglement.id }) }}">{{ reglement.id }}</a></td>
                <td>{{ reglement.codeRegle }}</td>
                <td>{% if reglement.dateRegle %}{{ reglement.dateRegle|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ reglement.typePaiement }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reglement_show', { 'id': reglement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reglement_edit', { 'id': reglement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
    <ul>
        <li>
            <a href="{{ path('reglement_new') }}">Create a new reglement</a>
        </li>
    </ul>
{% endblock %}
