{% extends 'list.html.twig' %}

{% block list %}
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Date</th>
                <th>Type de paiement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reglement in reglements %}
            <tr>
                <td><a href="{{ path('reglement_show', { 'id': reglement.id }) }}">{{ reglement.id }}</a></td>
                <td>{{ reglement.codeRegle }}</td>
                <td>{% if reglement.dateRegle %}{{ reglement.dateRegle|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ reglement.typePaiement }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reglement_show', { 'id': reglement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reglement_edit', { 'id': reglement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
 
{% endblock %}
