{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prestations list</h1>
 <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">liste des prestation</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Designation</th>
                <th>Description</th>
                <th>Montant</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td><a href="{{ path('prestation_show', { 'id': prestation.id }) }}">{{ prestation.id }}</a></td>
                <td>{{ prestation.codePres }}</td>
                <td>{{ prestation.designationPres }}</td>
                <td>{{ prestation.descPres }}</td>
                <td>{{ prestation.montantPres }}</td>
                <td><img src="{{ asset('uploads/images/' ~ prestation.imagePres) }}" height="100px" width="250px">
</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('prestation_show', { 'id': prestation.id }) }}"><i class="ion-eye"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('prestation_edit', { 'id': prestation.id }) }}"><i class="ion-edit"></i></a>
                        </li>
                        <li>
                            
                                
                                 <a href="{{ path('prestation_delete', { 'id': prestation.id }) }}"><i class="ion-close"></i></a>
                            
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
    <ul>
        <li>
            <a href="{{ path('prestation_new') }}">Create a new prestation</a>
        </li>
    </ul>
{% endblock %}
