{% extends 'list.html.twig' %}

{% block list %}
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Designation</th>
                <th>Description</th>
                <th>Montant</th>
                <th>Image</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td><a href="{{ path('prestation_show', { 'id': prestation.id }) }}">{{ prestation.id }}</a></td>
                <td>{{ prestation.code }}</td>
                <td>{{ prestation.designation }}</td>
                <td>{{ prestation.description }}</td>
                <td>{{ prestation.montant }}</td>
                <td><img src="{{ asset('uploads/images/' ~ prestation.image) }}" height="100px" width="250px"></td>
                <td>{% if prestation.date %}{{ prestation.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('prestation_show', { 'id': prestation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('prestation_edit', { 'id': prestation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
   
{% endblock %}
