{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prestation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestation.id }}</td>
            </tr>
            <tr>
                <th>Codepres</th>
                <td>{{ prestation.codePres }}</td>
            </tr>
            <tr>
                <th>Designationpres</th>
                <td>{{ prestation.designationPres }}</td>
            </tr>
            <tr>
                <th>Descpres</th>
                <td>{{ prestation.descPres }}</td>
            </tr>
            <tr>
                <th>Montantpres</th>
                <td>{{ prestation.montantPres }}</td>
            </tr>
            <tr>
                <th>Imagepres</th>
                <td>{{ prestation.imagePres }}</td>
            </tr>
            <tr>
                <th>Datepres</th>
                <td>{% if prestation.datePres %}{{ prestation.datePres|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prestation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('prestation_edit', { 'id': prestation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
