{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produits list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Codepro</th>
                <th>Designationpro</th>
                <th>Descpro</th>
                <th>Prixpro</th>
                <th>Imagepro</th>
                <th>Datepro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td>{{ produit.codePro }}</td>
                <td>{{ produit.designationPro }}</td>
                <td>{{ produit.descPro }}</td>
                <td>{{ produit.prixPro }}</td>
                <td>{{ produit.imagePro }}</td>
                <td>{% if produit.datePro %}{{ produit.datePro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produit_show', { 'id': produit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produit_edit', { 'id': produit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produit_new') }}">Create a new produit</a>
        </li>
    </ul>
{% endblock %}
