{% extends 'list.html.twig' %}

{% block list %}
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.email }}</td>
                <td>{% if client.date %}{{ client.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>

{% endblock %}
