{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clients list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomcli</th>
                <th>Prenomcli</th>
                <th>Adressecli</th>
                <th>Villecli</th>
                <th>Telcli</th>
                <th>Emailcli</th>
                <th>Datecli</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.nomCli }}</td>
                <td>{{ client.prenomCli }}</td>
                <td>{{ client.adresseCli }}</td>
                <td>{{ client.villeCli }}</td>
                <td>{{ client.telCli }}</td>
                <td>{{ client.emailCli }}</td>
                <td>{% if client.dateCli %}{{ client.dateCli|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_new') }}">Create a new client</a>
        </li>
    </ul>
{% endblock %}
