{% extends 'list.html.twig' %}

{% block list %}
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Designation</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipement in equipements %}
            <tr>
                <td><a href="{{ path('equipement_show', { 'id': equipement.id }) }}">{{ equipement.id }}</a></td>
                <td>{{ equipement.code }}</td>
                <td>{{ equipement.designation }}</td>
                <td>{{ equipement.prix }}</td>
                <td>{% if equipement.date %}{{ equipement.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ equipement.description }}</td>
                <td>{{ equipement.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipement_show', { 'id': equipement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('equipement_edit', { 'id': equipement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>

{% endblock %}
