{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement.id }}</td>
            </tr>
            <tr>
                <th>Codeequi</th>
                <td>{{ equipement.codeEqui }}</td>
            </tr>
            <tr>
                <th>Designationequi</th>
                <td>{{ equipement.designationEqui }}</td>
            </tr>
            <tr>
                <th>Prixequi</th>
                <td>{{ equipement.prixEqui }}</td>
            </tr>
            <tr>
                <th>Dateequi</th>
                <td>{% if equipement.dateEqui %}{{ equipement.dateEqui|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descequi</th>
                <td>{{ equipement.descEqui }}</td>
            </tr>
            <tr>
                <th>Imageequi</th>
                <td>{{ equipement.imageEqui }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('equipement_edit', { 'id': equipement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
