{% extends 'list.html.twig' %}

{% block list %}
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td><a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">{{ fournisseur.id }}</a></td>
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.prenom }}</td>
                <td>{{ fournisseur.adresse }}</td>
                <td>{{ fournisseur.telephone }}</td>
                <td>{{ fournisseur.ville }}</td>
                <td>{{ fournisseur.email }}</td>
                <td>{% if fournisseur.date %}{{ fournisseur.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    
{% endblock %}
