{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fournisseurs list</h1>
   <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">liste de fournisseurs</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="table-responsive">
                                                    <table class="table">
   
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td><a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">{{ fournisseur.id }}</a></td>
                <td>{{ fournisseur.nomFour }}</td>
                <td>{{ fournisseur.prenomFour }}</td>
                <td>{{ fournisseur.adresseFour }}</td>
                <td>{{ fournisseur.telFour }}</td>
                <td>{{ fournisseur.villeFour }}</td>
                <td>{{ fournisseur.emailFour }}</td>
                <td>{% if fournisseur.dateFour %}{{ fournisseur.dateFour|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   </div>
    <ul>
        <li>
            <a href="{{ path('fournisseur_new') }}">Create a new fournisseur</a>
        </li>
    </ul>
{% endblock %}
