{% extends 'list.html.twig' %}

{% block list %}
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td><a href="{{ path('facture_show', { 'id': facture.id }) }}">{{ facture.id }}</a></td>
                <td>{{ facture.code }}</td>
                <td>{% if facture.date %}{{ facture.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('facture_show', { 'id': facture.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('facture_edit', { 'id': facture.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>

{% endblock %}
